#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include "dynamic_keymap.h"
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

// &mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
// &msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    behaviors {
        ht: ht { 
            compatible = "zmk,behavior-hold-tap"; 
            #binding-cells = <2>;
            tapping-term-ms = <200>; 
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        
        dyn_kp: dyn_kp {
            compatible = "zmk,behavior-dyn-kp";
            #binding-cells = <1>;
        };
    };
};

& {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT  &kp RBKT
                &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp QUOT  &kp RET
                &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp RSFT  &kp RALT
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &none  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_1 {
            bindings = <
                &kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
                &trans  &kp GRAVE  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB4  &trans  &kp PG_UP  &kp END  &kp UP  &kp HOME  &kp MINUS  &kp EQUAL
                &trans  &kp TILDE  &trans  &trans  &trans  &mkp MB5  &trans  &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LBKT  &kp RBKT
                &trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &trans  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp INSERT  &kp F11  &kp F12  &trans
                &none  &kp C_MUTE  &trans  &trans  &trans  &trans  &none  &trans  &mkp LCLK  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_2 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &none  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &none  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_dynamic {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT  &kp RBKT
                &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp QUOT  &kp RET
                &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp RSFT  &kp RALT
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &none  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };
    };
};