#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include "dynamic_keymap.h"
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    compatible = "zmk,input-mouse-scroller";
    scroll-movement = 16;
};

&zip_xy_scaler {
    scale = <2 1>;
};

&zip_scroll_scaler {
    scale = <2 1>;
};

&inc_dec_kp {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&scroll_encoder {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&left_encoder {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&right_encoder {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&left_joystick {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&right_joystick {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&left_click {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&right_click {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&left_middle {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&right_middle {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&left_thumb {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

&right_thumb {
    compatible = "zmk,behavior-sensor-rotate-key-press";
    tap-ms = <10>;
    #binding-cells = <2>;
};

/ {
    behaviors {
        ht: ht { 
            compatible = "zmk,behavior-hold-tap"; 
            #binding-cells = <2>;
            tapping-term-ms = <200>; 
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        
        dyn_kp: dyn_kp {
            compatible = "zmk,behavior-dyn-kp";
            #binding-cells = <1>;
        };
    };
};

& {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
                ZMK_BEHAVIOR_DYN_KP_BINDING(0)   ZMK_BEHAVIOR_DYN_KP_BINDING(1)   ZMK_BEHAVIOR_DYN_KP_BINDING(2)   ZMK_BEHAVIOR_DYN_KP_BINDING(3)   ZMK_BEHAVIOR_DYN_KP_BINDING(4)   ZMK_BEHAVIOR_DYN_KP_BINDING(5)   ZMK_BEHAVIOR_DYN_KP_BINDING(6)   ZMK_BEHAVIOR_DYN_KP_BINDING(7)   ZMK_BEHAVIOR_DYN_KP_BINDING(8)   ZMK_BEHAVIOR_DYN_KP_BINDING(9)   ZMK_BEHAVIOR_DYN_KP_BINDING(10)  ZMK_BEHAVIOR_DYN_KP_BINDING(11)  ZMK_BEHAVIOR_DYN_KP_BINDING(12)
                ZMK_BEHAVIOR_DYN_KP_BINDING(13)  ZMK_BEHAVIOR_DYN_KP_BINDING(14)  ZMK_BEHAVIOR_DYN_KP_BINDING(15)  ZMK_BEHAVIOR_DYN_KP_BINDING(16)  ZMK_BEHAVIOR_DYN_KP_BINDING(17)  ZMK_BEHAVIOR_DYN_KP_BINDING(18)  ZMK_BEHAVIOR_DYN_KP_BINDING(19)  ZMK_BEHAVIOR_DYN_KP_BINDING(20)  ZMK_BEHAVIOR_DYN_KP_BINDING(21)  ZMK_BEHAVIOR_DYN_KP_BINDING(22)  ZMK_BEHAVIOR_DYN_KP_BINDING(23)  ZMK_BEHAVIOR_DYN_KP_BINDING(24)  ZMK_BEHAVIOR_DYN_KP_BINDING(25)
                ZMK_BEHAVIOR_DYN_KP_BINDING(26)  ZMK_BEHAVIOR_DYN_KP_BINDING(27)  ZMK_BEHAVIOR_DYN_KP_BINDING(28)  ZMK_BEHAVIOR_DYN_KP_BINDING(29)  ZMK_BEHAVIOR_DYN_KP_BINDING(30)  ZMK_BEHAVIOR_DYN_KP_BINDING(31)  ZMK_BEHAVIOR_DYN_KP_BINDING(32)  ZMK_BEHAVIOR_DYN_KP_BINDING(33)  ZMK_BEHAVIOR_DYN_KP_BINDING(34)  ZMK_BEHAVIOR_DYN_KP_BINDING(35)  ZMK_BEHAVIOR_DYN_KP_BINDING(36)  ZMK_BEHAVIOR_DYN_KP_BINDING(37)  ZMK_BEHAVIOR_DYN_KP_BINDING(38)
                ZMK_BEHAVIOR_DYN_KP_BINDING(39)  ZMK_BEHAVIOR_DYN_KP_BINDING(40)  ZMK_BEHAVIOR_DYN_KP_BINDING(41)  ZMK_BEHAVIOR_DYN_KP_BINDING(42)  ZMK_BEHAVIOR_DYN_KP_BINDING(43)  ZMK_BEHAVIOR_DYN_KP_BINDING(44)  ZMK_BEHAVIOR_DYN_KP_BINDING(45)  ZMK_BEHAVIOR_DYN_KP_BINDING(46)  ZMK_BEHAVIOR_DYN_KP_BINDING(47)  ZMK_BEHAVIOR_DYN_KP_BINDING(48)  ZMK_BEHAVIOR_DYN_KP_BINDING(49)  ZMK_BEHAVIOR_DYN_KP_BINDING(50)  ZMK_BEHAVIOR_DYN_KP_BINDING(51)
                ZMK_BEHAVIOR_DYN_KP_BINDING(52)  ZMK_BEHAVIOR_DYN_KP_BINDING(53)  ZMK_BEHAVIOR_DYN_KP_BINDING(54)  ZMK_BEHAVIOR_DYN_KP_BINDING(55)  ZMK_BEHAVIOR_DYN_KP_BINDING(56)  ZMK_BEHAVIOR_DYN_KP_BINDING(57)  ZMK_BEHAVIOR_DYN_KP_BINDING(58)  ZMK_BEHAVIOR_DYN_KP_BINDING(59)  ZMK_BEHAVIOR_DYN_KP_BINDING(60)  ZMK_BEHAVIOR_DYN_KP_BINDING(61)  ZMK_BEHAVIOR_DYN_KP_BINDING(62)  ZMK_BEHAVIOR_DYN_KP_BINDING(63)
            >;
            sensor-bindings = <ZMK_BEHAVIOR_DYN_KP_BINDING(64) ZMK_BEHAVIOR_DYN_KP_BINDING(65)>;
        };

        layer_1 {
            bindings = <
                &kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
                &trans  &kp GRAVE  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB4  &trans  &kp PG_UP  &kp END  &kp UP  &kp HOME  &kp MINUS  &kp EQUAL
                &trans  &kp TILDE  &trans  &trans  &trans  &mkp MB5  &trans  &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LBKT  &kp RBKT
                &trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &trans  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp INSERT  &kp F11  &kp F12  &trans
                &none  &kp C_MUTE  &trans  &trans  &trans  &trans  &none  &trans  &mkp LCLK  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_2 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &none  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &none  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_dynamic {
            bindings = <
                ZMK_BEHAVIOR_DYN_KP_BINDING(0)   ZMK_BEHAVIOR_DYN_KP_BINDING(1)   ZMK_BEHAVIOR_DYN_KP_BINDING(2)   ZMK_BEHAVIOR_DYN_KP_BINDING(3)   ZMK_BEHAVIOR_DYN_KP_BINDING(4)   ZMK_BEHAVIOR_DYN_KP_BINDING(5)   ZMK_BEHAVIOR_DYN_KP_BINDING(6)   ZMK_BEHAVIOR_DYN_KP_BINDING(7)   ZMK_BEHAVIOR_DYN_KP_BINDING(8)   ZMK_BEHAVIOR_DYN_KP_BINDING(9)   ZMK_BEHAVIOR_DYN_KP_BINDING(10)  ZMK_BEHAVIOR_DYN_KP_BINDING(11)  ZMK_BEHAVIOR_DYN_KP_BINDING(12)
                ZMK_BEHAVIOR_DYN_KP_BINDING(13)  ZMK_BEHAVIOR_DYN_KP_BINDING(14)  ZMK_BEHAVIOR_DYN_KP_BINDING(15)  ZMK_BEHAVIOR_DYN_KP_BINDING(16)  ZMK_BEHAVIOR_DYN_KP_BINDING(17)  ZMK_BEHAVIOR_DYN_KP_BINDING(18)  ZMK_BEHAVIOR_DYN_KP_BINDING(19)  ZMK_BEHAVIOR_DYN_KP_BINDING(20)  ZMK_BEHAVIOR_DYN_KP_BINDING(21)  ZMK_BEHAVIOR_DYN_KP_BINDING(22)  ZMK_BEHAVIOR_DYN_KP_BINDING(23)  ZMK_BEHAVIOR_DYN_KP_BINDING(24)  ZMK_BEHAVIOR_DYN_KP_BINDING(25)
                ZMK_BEHAVIOR_DYN_KP_BINDING(26)  ZMK_BEHAVIOR_DYN_KP_BINDING(27)  ZMK_BEHAVIOR_DYN_KP_BINDING(28)  ZMK_BEHAVIOR_DYN_KP_BINDING(29)  ZMK_BEHAVIOR_DYN_KP_BINDING(30)  ZMK_BEHAVIOR_DYN_KP_BINDING(31)  ZMK_BEHAVIOR_DYN_KP_BINDING(32)  ZMK_BEHAVIOR_DYN_KP_BINDING(33)  ZMK_BEHAVIOR_DYN_KP_BINDING(34)  ZMK_BEHAVIOR_DYN_KP_BINDING(35)  ZMK_BEHAVIOR_DYN_KP_BINDING(36)  ZMK_BEHAVIOR_DYN_KP_BINDING(37)  ZMK_BEHAVIOR_DYN_KP_BINDING(38)
                ZMK_BEHAVIOR_DYN_KP_BINDING(39)  ZMK_BEHAVIOR_DYN_KP_BINDING(40)  ZMK_BEHAVIOR_DYN_KP_BINDING(41)  ZMK_BEHAVIOR_DYN_KP_BINDING(42)  ZMK_BEHAVIOR_DYN_KP_BINDING(43)  ZMK_BEHAVIOR_DYN_KP_BINDING(44)  ZMK_BEHAVIOR_DYN_KP_BINDING(45)  ZMK_BEHAVIOR_DYN_KP_BINDING(46)  ZMK_BEHAVIOR_DYN_KP_BINDING(47)  ZMK_BEHAVIOR_DYN_KP_BINDING(48)  ZMK_BEHAVIOR_DYN_KP_BINDING(49)  ZMK_BEHAVIOR_DYN_KP_BINDING(50)  ZMK_BEHAVIOR_DYN_KP_BINDING(51)
                ZMK_BEHAVIOR_DYN_KP_BINDING(52)  ZMK_BEHAVIOR_DYN_KP_BINDING(53)  ZMK_BEHAVIOR_DYN_KP_BINDING(54)  ZMK_BEHAVIOR_DYN_KP_BINDING(55)  ZMK_BEHAVIOR_DYN_KP_BINDING(56)  ZMK_BEHAVIOR_DYN_KP_BINDING(57)  ZMK_BEHAVIOR_DYN_KP_BINDING(58)  ZMK_BEHAVIOR_DYN_KP_BINDING(59)  ZMK_BEHAVIOR_DYN_KP_BINDING(60)  ZMK_BEHAVIOR_DYN_KP_BINDING(61)  ZMK_BEHAVIOR_DYN_KP_BINDING(62)  ZMK_BEHAVIOR_DYN_KP_BINDING(63)
            >;
            sensor-bindings = <ZMK_BEHAVIOR_DYN_KP_BINDING(64) ZMK_BEHAVIOR_DYN_KP_BINDING(65)>;
        };
    };
};